.auto
*~
*.out
*.sage.py
coeffs*.h
*.sig
*.o
*.DSYM
*.exe
example16.txt
test_bigger
fqtables
.DS_Store
ABC/email.txt
CubicLib/point_counting_cpp/coefficient_headers/*
CubicLib/point_counting_cpp/output/*
